body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #0c0c0c;
}

h1 {
  font-size: clamp(35px, 5vw, 70px);
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  color: #fff;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  color: #fff;
}

p {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 300;
  line-height: 30px;
  color: #fff;
}

.buttons .btn1,
.buttons .btn2 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #0c0c0c;
  text-decoration: none;
  border: none;
  padding: 25px 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .btn1 {
  background-color: #5cff6f;
  box-shadow: 2px 2px 0 #fff;
}
.buttons .btn1:hover {
  background-color: #fff;
  box-shadow: 5px 5px 0 #5cff6f;
}
.buttons .btn2 {
  background-color: #fff;
  box-shadow: 2px 2px 0 #5cff6f;
}
.buttons .btn2:hover {
  background-color: #5cff6f;
  box-shadow: 5px 5px 0 #fff;
}
.buttons:has(.btn1:hover) .btn2, .buttons:has(.btn2:hover) .btn1 {
  transform: scale(0.5) rotate(10deg);
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  overflow-x: hidden;
  background-color: #0c0c0c;
}

.left-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #060606;
  border-right: 1px solid #bababa;
  height: 100vh;
  width: 350px;
  text-align: center;
  z-index: 99999;
}
.left-fixed .logo {
  padding: 64px 32px;
  border-bottom: 1px solid #bababa;
  cursor: pointer;
}
.left-fixed .logo:hover {
  background-color: #161616;
}
.left-fixed .menu-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}
.left-fixed .menu-container .menu-item {
  text-decoration: none;
  color: inherit;
  border: 1px solid #1c1c1c;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.left-fixed .menu-container .menu-item .icon {
  background-color: #1c1c1c;
  padding: 12px 22px;
  transition: all 0.3s ease-in-out;
}
.left-fixed .menu-container .menu-item .icon svg {
  transition: all 0.3s ease-in-out;
}
.left-fixed .menu-container .menu-item span {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.left-fixed .menu-container .menu-item:hover span {
  color: #5cff6f;
}
.left-fixed .menu-container .menu-item:hover .icon {
  background-color: #5cff6f;
}
.left-fixed .menu-container .menu-item:hover .icon svg {
  fill: #1c1c1c;
}

.right-main {
  width: calc(100% - 350px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-image: url(assets/Images/Hero\ Background.png);
  background-position: top;
  background-repeat: no-repeat;
}
.right-main section {
  padding: 100px 8%;
  max-width: 1420px;
}
.right-main .hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.right-main .hero-section .hero-content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.right-main .hero-section span {
  color: #5cff6f;
}
.right-main .hero-section .buttons {
  display: flex;
  gap: 64px;
  margin: 32px 0;
}
.right-main .hero-section .socials {
  display: flex;
  gap: 64px;
  align-items: center;
}
.right-main .hero-section .socials .social-icon {
  padding: 14px;
  background-color: #0c0c0c;
  border: 1px solid #bababa;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-main .hero-section .socials .social-icon img {
  width: 40px;
  height: 40px;
}
.right-main .hero-section .socials .social-icon:hover {
  background-color: #1c1c1c;
  transform: scale(0.95);
}
.right-main .about-section {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: 200px;
}
.right-main .about-section .about-right-content p span {
  color: #5cff6f;
  font-weight: 700;
}
.right-main .about-section .about-right-content a {
  display: inline-block;
  color: #5cff6f;
  margin-top: 64px;
  font-size: 22px;
  position: relative;
  z-index: 2;
  padding: 10px;
  transition: all 0.5s ease;
}
.right-main .about-section .about-right-content a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #5cff6f;
  transition: all 0.5s ease;
  z-index: -1;
}
.right-main .about-section .about-right-content a:hover:before {
  width: 100%;
}
.right-main .about-section .about-right-content a:hover {
  color: #0c0c0c;
}
.right-main .animated-section {
  max-width: 100%;
  overflow: hidden;
  background-color: #222222;
  border: 1px solid #bababa;
  padding: 20px;
  position: relative;
}
.right-main .animated-section .bar {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.right-main .animated-section .marquee-wrapper {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: marquee 15s linear infinite;
}
.right-main .animated-section .marquee-wrapper:hover {
  animation-play-state: paused;
}
.right-main .animated-section .marquee {
  display: flex;
  gap: 40px;
}
.right-main .animated-section .item {
  display: flex;
  align-items: center;
  gap: 80px;
  white-space: nowrap;
}
.right-main .animated-section .item span {
  font-size: 25px;
  font-weight: 700;
}
.right-main .animated-section .item svg {
  fill: #5cff6f;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 1630px) {
  .right-main .about-section {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1150px) {
  .right-main .hero-section .hero-content {
    gap: 16px;
  }
  .buttons .btn1,
  .buttons .btn2 {
    font-size: 16px;
    padding: 15px 40px;
  }
  .right-main .hero-section .socials {
    gap: 32px;
  }
  .right-main .hero-section .socials .social-icon {
    padding: 10px;
  }
  .right-main .hero-section .socials .social-icon img {
    width: 30px;
    height: 30px;
  }
  .right-main .about-section {
    gap: 64px;
  }
  .about-section .about-left-img img {
    width: 350px;
    height: auto;
  }
}
@media (max-width: 870px) {
  .left-fixed {
    display: none;
  }
  .right-main {
    width: 100%;
    text-align: center;
  }
  .right-main .hero-section .hero-content {
    justify-content: center;
    align-items: center;
  }
  .right-main .about-section .about-right-content a {
    margin-top: 32px;
  }
}
@media (max-width: 565px) {
  .right-main .hero-section .buttons {
    flex-direction: column;
    gap: 32px;
    margin: 16px 0;
  }
}/*# sourceMappingURL=style.css.map */