@import "variables";
@import "typography";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html body {
	overflow-x: hidden;
}

// LEFT FIXED SIDE & MENU
.left-fixed {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $background-color;
	border-right: 1px solid $stroke-color;
	height: 100vh;
	width: 350px;
	text-align: center;

	.logo {
		padding: 64px 32px;
		border-bottom: 1px solid $stroke-color;
		cursor: pointer;

		&:hover {
			background-color: $light-gray;
		}
	}

	.menu-container {
		padding: 32px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-top: 32px;

		.menu-item {
			text-decoration: none;
			color: inherit;
			border: 1px solid $menu-gray;
			display: flex;
			align-items: center;
			gap: 20px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			.icon {
				background-color: $menu-gray;
				padding: 12px 22px;
				transition: all 0.3s ease-in-out;

				svg {
					transition: all 0.3s ease-in-out;
				}
			}

			span {
				font-size: 20px;
				font-weight: 300;
				line-height: 30px;
				color: #fff;
				transition: color 0.3s ease-in-out;
			}
			&:hover {
				span {
					color: $accent-color;
				}

				.icon {
					background-color: $accent-color;

					svg {
						fill: $menu-gray;
					}
				}
			}
		}
	}
}

// RIGHT MAIN SIDE
.right-main {
	background-image: url(assets/Images/Hero\ Background.png);
	min-height: 100vh;
	width: calc(100% - 350px);
	margin-left: auto;
	display: flex;
	padding: 0 10%;
	align-items: center;

	.hero {
		max-width: 900px;
		display: flex;
		flex-direction: column;
		gap: 32px;

		span {
			color: $accent-color;
		}

		.buttons {
			display: flex;
			gap: 64px;
			margin: 32px 0;
		}

		.socials {
			display: flex;
			gap: 64px;
			align-items: center;

			.social-icon {
				padding: 14px;
				background-color: $background-color;
				border: 1px solid $stroke-color;
				cursor: pointer;
				transition: all 0.3s ease;

				img {
					width: 40px;
					height: 40px;
				}

				&:hover {
					background-color: $menu-gray;
				}
			}
		}
	}
}
