@import "variables";
@import "typography";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html body {
	overflow-x: hidden;
	background-color: $background-color;
}

// LEFT FIXED SIDE & MENU
.left-fixed {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #060606;
	border-right: 1px solid $stroke-color;
	height: 100vh;
	width: 350px;
	text-align: center;
	z-index: 99999;

	.logo {
		padding: 64px 32px;
		border-bottom: 1px solid $stroke-color;
		cursor: pointer;

		&:hover {
			background-color: $light-gray;
		}
	}

	.menu-container {
		padding: 32px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-top: 32px;

		.menu-item {
			text-decoration: none;
			color: inherit;
			border: 1px solid $menu-gray;
			display: flex;
			align-items: center;
			gap: 20px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			.icon {
				background-color: $menu-gray;
				padding: 12px 22px;
				transition: all 0.3s ease-in-out;

				svg {
					transition: all 0.3s ease-in-out;
				}
			}

			span {
				font-size: 20px;
				font-weight: 300;
				line-height: 30px;
				color: #fff;
				transition: color 0.3s ease-in-out;
			}
			&:hover {
				span {
					color: $accent-color;
				}

				.icon {
					background-color: $accent-color;

					svg {
						fill: $menu-gray;
					}
				}
			}
		}
	}
}

// RIGHT MAIN SIDE
.right-main {
	width: calc(100% - 350px);
	margin-left: auto;
	display: flex;
	flex-direction: column;
	background-image: url(assets/Images/Hero\ Background.png);
	background-position: top;
	background-repeat: no-repeat;
	section {
		padding: 100px 8%;
		max-width: 1420px;
	}

	// Hero Section
	.hero-section {
		width: 100%;
		display: flex;
		align-items: center;
		height: 100vh;

		.hero-content {
			max-width: 900px;
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		span {
			color: $accent-color;
		}

		.buttons {
			display: flex;
			gap: 64px;
			margin: 32px 0;
		}

		.socials {
			display: flex;
			gap: 64px;
			align-items: center;

			.social-icon {
				padding: 14px;
				background-color: $background-color;
				border: 1px solid $stroke-color;
				cursor: pointer;
				transition: all 0.3s ease;

				img {
					width: 40px;
					height: 40px;
				}

				&:hover {
					background-color: $menu-gray;
					transform: scale(0.95);
				}
			}
		}
	}
	// About Section
	.about-section {
		display: flex;
		gap: 100px;
		align-items: center;
		margin-top: 200px;

		.about-right-content p span {
			color: $accent-color;
			font-weight: 700;
		}

		.about-right-content a {
			display: inline-block;
			color: $accent-color;
			margin-top: 64px;
			font-size: 22px;
			position: relative;
			z-index: 2;
			padding: 10px;
			transition: all 0.5s ease;

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 100%;
				background-color: $accent-color;
				transition: all 0.5s ease;
				z-index: -1;
			}

			&:hover:before {
				width: 100%;
			}
			&:hover {
				color: $background-color;
			}
		}
	}
	// Animated Bar Section
	.animated-section {
		max-width: 100%;
		overflow: hidden;
		background-color: #222222;
		border: 1px solid $stroke-color;
		padding: 20px;
		position: relative;

		.bar {
			display: flex;
			align-items: center;
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
		}

		.marquee-wrapper {
			display: flex;
			width: max-content;
			animation: marquee 15s linear infinite;

			&:hover {
				animation-play-state: paused;
			}
		}

		.marquee {
			display: flex;
			gap: 40px;
		}

		.item {
			display: flex;
			align-items: center;
			gap: 80px;
			white-space: nowrap;

			span {
				font-size: 25px;
				font-weight: 700;
			}

			svg {
				fill: $accent-color;
			}
		}
		@keyframes marquee {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(-50%);
			}
		}
	}
}

@media (max-width: 1630px) {
	.right-main .about-section {
		flex-direction: column;
		text-align: center;
	}
}

@media (max-width: 1150px) {
	.right-main .hero-section .hero-content {
		gap: 16px;
	}
	.buttons .btn1,
	.buttons .btn2 {
		font-size: 16px;
		padding: 15px 40px;
	}
	.right-main .hero-section .socials {
		gap: 32px;

		.social-icon {
			padding: 10px;

			img {
				width: 30px;
				height: 30px;
			}
		}
	}
	.right-main .about-section {
		gap: 64px;
	}

	.about-section .about-left-img img {
		width: 350px;
		height: auto;
	}
}

@media (max-width: 870px) {
	.left-fixed {
		display: none;
	}
	.right-main {
		width: 100%;
		text-align: center;
	}

	.right-main .hero-section .hero-content {
		justify-content: center;
		align-items: center;
	}

	.right-main .about-section .about-right-content a {
		margin-top: 32px;
	}
}

@media (max-width: 565px) {
	.right-main .hero-section .buttons {
		flex-direction: column;
		gap: 32px;
		margin: 16px 0;
	}
}
