@import "variables";

body {
	font-family: $font-family;
	color: $text-color;
	background-color: $background-color;
}

h1 {
	font-size: $font-size-h1;
	font-weight: $font-weight-bold;
	line-height: $line-height-h1;
	color: $text-color;
}

h2 {
	font-size: $font-size-h2;
	font-weight: $font-weight-bold;
	line-height: $line-height-h2;
	color: $text-color;
}

h3 {
	font-size: $font-size-h3;
	font-weight: $font-weight-bold;
	line-height: $line-height-h3;
	color: $text-color;
}

p {
	font-size: $font-size-paragraph;
	font-weight: $font-weight-light;
	line-height: $line-height-paragraph;
	color: $text-color;
}

.buttons {
	.btn1,
	.btn2 {
		display: inline-block;
		font-size: $font-size-button;
		font-weight: $font-weight-bold;
		line-height: $line-height-button;
		color: $background-color;
		text-decoration: none;
		border: none;
		padding: 25px 60px;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	.btn1 {
		background-color: $accent-color;
		box-shadow: 2px 2px 0 $text-color;

		&:active,
		&:hover {
			background-color: $text-color;
			box-shadow: 5px 5px 0 $accent-color;
			transform: scale(0.95);
		}
	}

	.btn2 {
		background-color: $text-color;
		box-shadow: 2px 2px 0 $accent-color;

		&:active,
		&:hover {
			background-color: $accent-color;
			box-shadow: 5px 5px 0 $text-color;
			transform: scale(0.95);
		}
	}

	&:has(.btn1:hover) .btn2,
	&:has(.btn2:hover) .btn1 {
		transform: scale(0.5) rotate(10deg);
		opacity: 0.5;
	}
}
