// COLORS
$background-color: #0c0c0c;
$accent-color: #5cff6f;
$stroke-color: #bababa;
$text-color: #fff;
$darkwhite: #e6e6e6;
$light-gray: #161616;
$menu-gray: #1c1c1c;

// FONT FAMILY
$font-family: "Open Sans", sans-serif;

// FONT SIZES
$font-size-h1: clamp(35px, 5vw, 70px);
$font-size-h2: 60px;
$font-size-h3: 30px;
$font-size-paragraph: clamp(16px, 2vw, 20px);
$font-size-button: 20px;

// LINE HEIGHT
$line-height-h1: 1.2;
$line-height-h2: 80px;
$line-height-h3: 41px;
$line-height-paragraph: 30px;
$line-height-button: 27px;

// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
